version: "3.8"

services:
  kafka:
    image: bitnami/kafka:3.7
    container_name: kafka
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT

      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=false
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "/opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 5s
      timeout: 3s
      retries: 30

  kafka-init:
    image: bitnami/kafka:3.7
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: ["/bin/bash", "-c"]
    command: >
      '
      echo "Waiting Kafka...";
      /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9092 --list >/dev/null 2>&1;
      echo "Creating topics...";
      /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9092 --create
        --topic text_requests --partitions 6 --replication-factor 1  true;
      /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9092 --create
        --topic text_results --partitions 3 --replication-factor 1  true;
      echo "Topics created.";
      '
    restart: "no"

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: gateway
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    environment:
      - HTTP_PORT=8080
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_REQUEST_TOPIC=text_requests
      - KAFKA_RESULT_TOPIC=text_results
      - RESULT_TTL_SECONDS=600
    ports:
      - "8080:8080"

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_REQUEST_TOPIC=text_requests
      - KAFKA_RESULT_TOPIC=text_results
      - KAFKA_GROUP_ID=text_quality_workers
      - WORKER_POLL_MS=250